.filter-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    position: fixed;
    top: 65px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: rgb(126, 157, 179);
    padding: 10px;
    border-bottom: 2px solid #ddd;
    z-index: 999;
  }
  
  .filter-container button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background: rgb(103, 97, 97);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filter-container button:hover {
    background: #123f1c;
  }
  
 
  @media (max-width: 768px) {
    .filter-container {
      flex-wrap: wrap;
      gap: 8px;
      top: 55px; 
    }
  }
  